:root {
  --font: #2d2d2b;
  --accentcolor: #ff0029;
}

body {
  font-family: 'Montserrat',
    sans-serif;
  ;
  font-weight: 300;
  color: var(--font);
  background-color: #f6f5f0;
}

.container {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.logo {
  float: left;
  padding: 10px 0;
  max-height: 80px;
}

nav {
  float: right;
}

nav ul {
  font-size: 20px;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 40px;
  position: relative;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--font);
}

nav a:hover {
  color: var(--accentcolor);
  opacity: 80%;
}

nav a:before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: var(--accentcolor);

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
  opacity: 80%;
}

nav a:hover::before {
  width: 100%;
}

#hello {
  height: calc(100vh - 100px);
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hello h1 {
  font-size: 60px;
}

#hello h2 {
  font-size: 40px;
}

#kjcolor {
  color: var(--accentcolor);
  opacity: 60%;
}

#portfolio,
#resume,
#contact {
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
  display: block;
}

h3 {
  font-size: 50px;
  padding: 60px;
  text-align: center;
}

h5 {
  font-family: 'Montserrat',
    sans-serif;
  font-size: 30px;
  color: var(--font);
  padding-bottom: 8px;
}

#aboutme {
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
  display: block;
}

#headshot {
  height: 200px;
  float: left;
  padding-right: 50px;
}

h4{

}

#resumebutton {
  padding: 8px;
  color: var(--font);
  background-color: transparent;
  border: 2px solid var(--font);
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

#resumebutton:hover {
  color: var(--accentcolor);
  opacity: 80%;
  border: 2px solid var(--accentcolor);
  border-radius: 10px;
  cursor: pointer;
}

.resumebtn {
  text-align: center;
  padding-top: 30vh;
}

.contact h3 {
  font-size: 50px;
  padding-bottom: 50px;
}

.contact-form {
  padding: 100px;
  text-align: center;
}

input {
  padding: 5px;
  resize: none;
  margin-bottom: 5px;
  border-radius: 5px;
  border-width: 1px;
  background-color: transparent;
  font-family: 'Montserrat',
  sans-serif;
}

textarea {
  resize: none;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  font-family: 'Montserrat',
  sans-serif;
  ;
}

footer {
  display: block;
  text-align: center;
}

.house {
  max-height: 20px;
}

.phone{
  max-height: 23px;
}

.email{
  max-height: 20px;
}

@media screen and (max-width: 768px) {

  header,
  section {
    flex-direction: column;
    text-align: match-parent;
  }
}

@media screen and (max-width: 600) {

  header,
  section {
    flex-direction: column;
    text-align: match-parent;
  }
}

@media screen and (max-width: 480) {

  header,
  section {
    flex-direction: column;
    text-align: match-parent;
  }
}