body {
  font-family: sans-serif;
  font-weight: 300;
}

.container {
  overflow: hidden;
  width: 95%;
  margin: 0 auto;
}

h3 {
  text-align: center;
}

.logo {
  float: left;
  padding: 10px 0;
  max-height: 80px;
}

nav {
  float: right;
}

nav ul {
  font-size: 20px;
  color: white;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  padding-top: 40px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: #000;
}

nav a:before {
  content: "";
  display: block;
  height: 5px;
  width: 100%;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
  opacity: 50%;
}

nav a:hover::before {
  width: 100%;
}

#hello {
  height: calc(100vh - 100px);
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hello h1 {
  font-size: 60px;
}

#hello h2 {
  font-size: 40px;
}

#portfolio,
#aboutme,
#resume,
#contact {
  height: 100vh;
  width: 50vw;
  margin: 0 auto;
  display: block;
}

#portfolio h3 {
  font-size: 50px;
  padding: 100px;
  text-align: center;
}

.coderefactor h4 {
  font-size: 40px;
  padding-bottom: 60px;
  padding-top: 60px;
  text-align: center;
  /* padding-left: 150px; */
}

#coderefactorimg {
  /* padding-top: 50px;
  padding-bottom: 60px;
  height: 300px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.portfolio p {
  font-size: 20px;
  padding-top: 50px;
}

.aboutme h3 {
  font-size: 50px;
  /* padding-bottom: 100px; */
}

#headshot {
  height: 200px;
  float: left;
  padding-right: 50px;
}

.aboutme h3 {
  font-size: 50px;
  padding-top: 300px;
}

#techinfo {
  padding-top: 100px;
}

.resume h3 {
  font-size: 50px;
}

#resumebutton {
  padding: 8px;
  color: #444;
  background-color: transparent;
  border: 2px solid #444;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.contact h3 {
  font-size: 50px;
  padding-bottom: 50px;
}

.contact-form {
  padding: 100px;
  text-align: center;
}

input {
  resize: none;
  margin-bottom: 5px;
  border-radius: 5px;
  border-width: 1px;
}

textarea {
  resize: none;
  padding: 10px;
  border-radius: 5px;
}

footer {
  display: block;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header,
  section {
    flex-direction: column;
    text-align: match-parent;
  }
}

@media screen and (max-width: 600) {
  header,
  section {
    flex-direction: column;
    text-align: match-parent;
  }
}


@media screen and (max-width: 480) {
  header,
  section {
    flex-direction: column;
    text-align: match-parent;
  }
}
